@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "moonjelly";
    src: url("/fonts/Moonjelly-Bold.otf");
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
    background: #F25430;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 42, 0, 0.664);
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

